header
  h2
    a(href='/') Sample Math Course
  if user
    h3 Welcome, #{user.displayName} 
    if testing !== true    
        a(href="/question/1") Take test
        span  | 
    a(href="/logout") Logout
  else
    h3
      a(href="/login") Login
